<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Zoo Journal</title>


    <style>
        body {
            text-align: center;
            margin: 0;
            padding: 0;
        }


        .content {
            max-width: 600px;
            margin: auto;
        }

        img {
            width: 150px;
            /* Set a fixed width for all images */
            height: 150px;
            /* Set a fixed height for all images */
            margin: 10px;
        }
    </style>
</head>

<body>

    <div class="content">
        <p class="lead">Document and share your experiences with the fascinating world of animals!</p>
        <p>Explore, record, and learn about the incredible moments you've had with the zoo's diverse inhabitants.</p>
    </div>

    <div class="content">
        <img src="\assets\flamingo.png">
        <img src="\assets\lion.png">
        <img src="\assets\lemur.png">
        <img src="\assets\penguin.png">
        <img src="\assets\swan.png">
        <img src="\assets\monkey.png">
    </div>

</body>

</html>